[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"

[packages]
yaxil = ">=0.9.3"
selfie = ">=0.3.0"
executors = "*"
morphometry = "*"
vnav = ">=0.3.1"
anatqc = {path = ".",editable = true}

[requires]
python_version = "3.6.8"
