##set($base = "org.nrg.xdat.om.")
##set($xsi = $item.getXSIType())
##set($namespace = $xsi.substring(0, $xsi.indexOf(":")))
##set($namespace = "$namespace.substring(0,1).toUpperCase()$namespace.substring(1)")
##set($i = $xsi.indexOf(":") + 1)
##set($classname = $xsi.substring($i))
##set($classname= "$classname.substring(0,1).toUpperCase()$classname.substring(1)")
##set($item_class = "${base}${namespace}${classname}")

<script type="text/javascript" language="javascript">
nrg.info = {
                "user"      : {
                                "username"      : "$!data.getSession().getAttribute('user').getUsername()",
                                "first_name"    : "$!data.getSession().getAttribute('user').getFirstname()",
                                "last_name"     : "$!data.getSession().getAttribute('user').getLastname()",
                                "email"         : "$!data.getSession().getAttribute('user').getEmail()",
                                "ip"            : "$!data.getRequest().getRemoteAddr()",
                                "host"          : "$!data.getRequest().getRemoteHost()",
                                "platform"      : navigator.platform,
                                "user_agent"    : navigator.userAgent,
                                "groups"        : []
                              }, 
                "item"      : {
                                "id"            : "$!item.getProperty('id')",
                                "label"         : "$!item.getProperty('label')",
                                "xsi"           : "$!item.getXSIType()"
                              },
                "project"   : {
                                "id"            : "$!item.getProperty('project')",
                                "label"         : "$!mr.getProjectData().getDisplayName()",
                                "xsi"           : "$!mr.getProjectData().getXSIType()"
                              },
                "mr"        : { 
                                "id"            : "$!mr.getId()",
                                "label"         : "$!mr.getLabel()",
                                "xsi"           : "$!mr.getXSIType()"
                              },
                "subject"   : {
                                "id"            : "$!mr.getSubjectData().getId()",
                                "label"         : "$!mr.getSubjectData().getLabel()",
                                "xsi"           : "$!mr.getSubjectData().getXSIType()"
                              }
};

#foreach($group in $!data.getSession().getAttribute('user').getGroups())
    nrg.info.user.groups.push({"id": "$!group.getId()"});
#end
</script>
